<html lang="en">
    <head>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">
 
    <title>Insert event</title>
 
    <!-- Custom styles for this template -->
    <link href="static/signin.css" rel="stylesheet">
  </head>
 
  <body class="text-center">
    <form class="form-signin" action="/handle_create_event" method="post">
      <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Atos_Origin_2011_logo.svg/1200px-Atos_Origin_2011_logo.svg.png" alt="" width="200" height="72">
 
      <h1 class="h3 mb-3 font-weight-normal">Add a new Event</h1>

      {% if error %}
      <p style="color: red;"><b>{{ error }}</b></p>
      {% endif %}
 
      <label for="nameInput" class="sr-only">Event Name</label>
      <input name="nameInput" id="nameInput" class="form-control" placeholder="Event Name" required="" autofocus="">
      <br>
      <label for="descriptionInput" class="sr-only">Description</label>
      <input name="descriptionInput" id="descriptionInput" class="form-control" placeholder="Description" required="" autofocus="">      
      <br>
      <label for="priorityInput" class="sr-only">Priority</label>
      <input name="priorityInput" id="priorityInput" class="form-control" placeholder="Priority" required="" autofocus="">      
      <br>
 
      <hr>
 
      <button class="btn btn-lg btn-primary btn-block" type="submit">Add Event</button>
 
      <hr>
 
      <p class="mt-5 mb-3 text-muted">© 2022</p>
    </form>
 
</body>
</html>